<!DOCTYPE html>

<html dir="ltr" lang="ru" itemscope itemtype="http://schema.org/WebPage" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# book: http://ogp.me/ns/book# video: http://ogp.me/ns/video# ya: http://webmaster.yandex.ru/vocabularies/">

<head>
    <vc:head-main />
    <vc:head-icons />
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.min.css" asp-append-version="true" />

</head>

<body>

    <div class="container-fluid container-fluid-1920">

        @await Html.PartialAsync("_YandexReclamaHeadPartial")

        <div class="row text-center bg-light">

            <main role="main" itemprop="mainContentOfPage" class="col-12 col-sm-9 pb-3 text-center m-auto shadw">

                <div class="container-fluid px-0">

                    @RenderBody()

                </div>

            </main>

        </div>

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-3WELF8XC9E"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-3WELF8XC9E');
        </script>

        <!-- Yandex.RTB -->
        <script>window.yaContextCb = window.yaContextCb || []</script>
        <script src="https://yandex.ru/ads/system/context.js" async></script>

        @await Html.PartialAsync("_YandexReclamaFooterPartial")

    </div>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>