<!DOCTYPE html>

<html lang="ru-RU" itemscope itemtype="http://schema.org/WebPage" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# book: http://ogp.me/ns/book# video: http://ogp.me/ns/video# ya: http://webmaster.yandex.ru/vocabularies/">

<head>

    <vc:head-main />

</head>

<body>

    @RenderBody()

</body>

</html>