@page
@model SandBox.Pages.OptionGroupsModel
@{
    Layout = null;

    var form = HttpContext.Request.Method.ToString();

    if (HttpContext.Request.Method == "POST")
    {
        form = HttpContext.Request.Form["some"];
    }
}

<form method="post">

    <select name="some" asp-items="Model.Staff"></select>

    <input type="submit" value="SEND" />

    <br />

</form>

<p>@form</p>