@page
@model SandBox.Pages.UsingEnumerationModel
@{
    Layout = null;

    var form = HttpContext.Request.Method.ToString();

    if (HttpContext.Request.Method == "POST")
    {
        form = HttpContext.Request.Form["DayOfWeek"];
    }
}

<form method="post">

    <select asp-for="DayOfWeek" asp-items="Html.GetEnumSelectList<DayOfWeek>()">
        <option value="">Choose a day</option>
    </select>

    <input type="submit" value="SEND" />

    <br />

</form>

<p>@form</p>

