@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
body {
  font-family: "Philosopher", sans-serif;
}

/* перенос слов в тексте */
body {
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  /* перенос слова не менее 6 букв, не менее 3 букв до преноса, не менее 3 букв на следующей строке*/
  -ms-hyphenate-limit-chars: 6 3 3;
  /*-webkit-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-chars: 6 3 3;
  -o-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  hyphenate-limit-chars: 6 3 3;*/
  /*ограничить количество строк подряд с переносами*/
  -ms-hyphenate-limit-lines: 2;
  /* -webkit-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-lines: 2;
  -o-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;*/
  /* запрет переноса последнего слова в абзаце */
  /*-ms-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-last: always;
  -moz-hyphenate-limit-last: always;
  -o-hyphenate-limit-last: always;
  hyphenate-limit-last: always;*/
  /* hyphenate-limit-zone: 8% */
}

.container-fluid-1920 {
  max-width: 1920px;
}

/* тег hr */
.liniya {
  width: 96%;
  height: 1px !important;
  color: hsla(330deg, 60%, 45%, 0.9);
  border-color: hsla(0deg, 90%, 40%, 0.9);
  box-shadow: 0.1em 0.1em 0.1em hsla(0deg, 0%, 0%, 0.6);
  opacity: 0.9 !important;
  margin: 1rem auto;
}

.text_shadow {
  text-shadow: hsla(350deg, 90%, 40%, 0.6) 1px 2px 2px;
}

.footer-image img {
  border-width: 0 !important;
}

.footer-image a:hover {
  text-decoration: none;
}

.fotoplenka {
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-position: center;
}

.ten {
  box-shadow: 0.5rem 0.4rem 0.4rem hsla(0deg, 0%, 0%, 0.6);
}

.rsy {
  max-height: 210px !important;
}

.shadw {
  background: hsl(350deg, 54%, 98%);
  box-shadow: 0 15px 10px -10px hsla(350deg, 60%, 0%, 0.5), 0 1px 4px hsla(350deg, 60%, 0%, 0.3), 0 0 40px hsla(350deg, 60%, 0%, 0.1) inset;
  border-right: 1px ridge hsl(0deg, 0%, 40%);
  border-bottom: 1px ridge hsl(0deg, 0%, 40%);
  border-top: 1px ridge hsl(0deg, 70%, 100%);
  border-left: 1px ridge hsl(0deg, 70%, 100%);
}

.shadw:after, .shadw:before {
  content: "";
  position: absolute;
  z-index: -2;
}

.adp_img {
  max-width: 96%;
  border-radius: 1rem;
}
