@page
@model IndexModel

<div class="row">

    <div class="col">

        <h1 class="text_shadow">САЙТ&nbsp;ПАМЯТИ<br />СЕРГЕЯ ШЕВКУНЕНКО</h1>

        <hr class="liniya" />

        <vc:image-view file-name="index1.gif" css-class="adp_img ten" is-icon="false" />

        <hr class="liniya" />

    </div>

    <audio autoplay>
        <source src="/sound/kortikogg.ogg" type="audio/ogg; codecs=vorbis" />
        <source src="/sound/kortikmp3.mp3" type="audio/mpeg" />
        <source src="/sound/kortkikwav.wav" />
    </audio>

</div>

